@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-700;
  }

  body {
    @apply bg-gray-950 text-white antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}
